<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuri Simple Chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="/utils/onloadFunc.js"></script> -->
</head>

<body class="select-none bg-sky-100">
    <input type="text" readonly hidden class="text-sky-700 outline-none" id="username" value="<%= username %>">

    <div style="overscroll-behavior: none;">
        <div class="fixed w-full bg-sky-700 h-16 pt-2 text-white flex justify-center shadow-md z-50"
            style="top:0px; overscroll-behavior: none;">

            <div class="my-3 text-sky-700-100 font-bold text-lg flex justify-between w-3/4">
                <input type="text" readonly class="outline-none bg-transparent text-white font-semibold" id="room"
                    value="<%= room %>">

                <div id="exitBtn"
                    class="bg-red-500 text-white px-6 rounded flex justify-center text-center cursor-pointer">Exit</div>

            </div>

        </div>

        <div id="chat-wrapper" class="mt-20 mb-16 grid grid-cols-1 md:px-10">

        </div>

        <input type="text" id="chat-focus" readonly hidden id="">
        <div class="fixed w-full flex justify-between bg-sky-700" style="bottom: 0px;">
            <textarea id="typemsg"
                class="flex-grow m-2 py-2 px-4 mr-1 rounded-full border border-gray-300 bg-gray-200 resize-none"
                rows="1" placeholder="Message..." style="outline: none;"></textarea>
            <button class="m-2" style="outline: none;">
                <svg id="sendBtn" class="svg-inline--fa text-white fa-paper-plane fa-w-16 w-12 h-12 py-2 mr-2"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z" />
                </svg>
            </button>
        </div>

        <script src="/utils/index.js" type="module"></script>
        <script src="/utils/message.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            document.getElementById("exitBtn").addEventListener("click", () => {
                if (confirm("Do u want to log out?")) {
                    localStorage.removeItem("zuriUser")
                    window.location.href = "/"
                }
            })
        </script>
</body>

</html>